# Eclipse
.metadata/
.settings/
.project
.classpath

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Compilação Java
bin/
target/
out/

# Arquivos compilados
*.class

# Logs
*.log

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Pacotes (JAR/WAR/EAR)
*.jar
*.war
*.ear